* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
    min-height: 100vh;
}

.App {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px;
    border-style: double;
    width: 75%;
    margin: auto;
}

.Section {
    margin: 20px 0;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(109, 109, 253);
    color: white;
}

input {
    outline: none;
}
